#c {
  background-color: #94e7e7;
  color: black;
}

#h {
  background-color: #5d527a;
  color: white;
}

#a {
  background-color: #ff8080;
  color: white;
}
#s {
  background-color: #ff80ff;
  color: white;
}
#i {
  background-color: #ff9a52;
  color: black;
}

#d {
  background-color: #7449e8;
  color: white;
}
#e {
  background-color: #80ef9f;
  color: black;
}
