#c1{
    background-color: #94e7e7;
    color: black;
  }
  
  #h1 {
    background-color: #5d527a;
    color: white;
  }
  
  #a1 {
    background-color: #ff8080;
    color: white;
  }
  #s1 {
    background-color: #ff80ff;
    color: white;
  }
  #i1 {
    background-color: #ff9a52;
    color: black;
  }
  
  #d1 {
    background-color: #7449e8;
    color: white;
  }
  #e1 {
    background-color: #80ef9f;
    color: black;
  }