*{
    color: white;
}
.linkA{
    text-decoration: none;
    color: #AB9AA7;
    display: flex;
    align-items: center;
}
.linkB{
    text-decoration: none;
    background-color: #2ACFCF;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    margin: auto 10px;
}
.btnMas{
    background-color: #2ACFCF;
    border-radius: 20px;
}
/* //cards */
.card-1{
    background-color: #6ee6e6;
    position: relative;
    bottom: 50px;
    border-radius: 40px;
}
.card-2{
    border-radius: 40px;
}
.card-3{
    background-color: #6ee6e6;
    position: relative;
    top: 50px;
    border-radius: 40px;
}
.card-4{
    background: linear-gradient(#3B3054, #4B3F6B);
    /* background: #7ce5cd; */
    position: relative;
    top: 100px;
    border-radius: 20px;
}
.icon{
    /* position: ; */
    margin-top: -20px;
}
/* //foot */
.foot2{
    color: white;
    padding-top: 80px;
}
.tableTd td{
    color: white;
}

.tableTd td i{
    color: white;
}
.tableTd th{
    color: white;
}
.f{
    flex-wrap: wrap;
    flex-direction: column;
}