* {
  color: white;
}

.linkA {
  text-decoration: none;
  color: #ab9aa7;
  display: flex;
  align-items: center;
}
.linkB {
  text-decoration: none;
  background-color: #2acfcf;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
  color: white;
  margin: auto 10px;
}
/* //cards */
.card-1 {
  position: relative;
  bottom: 50px;
  border-radius: 10px;
}
.card-2 {
  border-radius: 10px;
}
.card-3 {
  position: relative;
  top: 50px;
  border-radius: 10px;
}
.card-4 {
  /* background: linear-gradient(#3b3054, #4b3f6b);
 */
  background-image: url(https://i.ibb.co/CngVcj8/descarga-2.png);
  background-size: cover;
  background-color: #4b3f6b;
  position: relative;
  top: 100px;
}
.card-h2 {
  /* background: linear-gradient(#3b3054, #4b3f6b);
 */
  background-image: url(https://i.ibb.co/CngVcj8/descarga-2.png);
  background-size: cover;
  background-color: #4b3f6b;
  font-size: x-large;
  font-size: 25px;
}
.imgFoot {
  width: 50%;
}
.logoNav {
  width: 20%;
}

@media (min-width: 500px) {
  .card-h2 {
    font-size: 55px;
  }
  .logoNav {
    width: 10%;
  }
}
@media (max-width: 800px) {
  .contLogin {
    display: flex;
    flex-direction: column-reverse;
  }
  .btnVerMas {
    width: 100%;
  }
  .footLogos {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1300px) {
  .card-h2 {
    font-size: 70px;
  }
  .logoNav {
    width: 6%;
  }
}
.icon {
  /* position: ; */
  margin-top: -20px;
}
/* //foot */
.foot2 {
  padding-top: 80px;
}
.tableTd td {
  color: white;
}

.tableTd td i {
  color: white;
}
.tableTd th {
  color: white;
}
.f {
  flex-wrap: wrap;
  flex-direction: column;
}

.Background {
  height: 100vh;
  width: 100vw;
  background-color: hsl(185, 75%, 39%);
}

.ProfileCard {
  width: 350px;
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 2.2px 10.8px 1.7px rgba(0, 0, 0, 0.037),
    4.1px 20.5px 3.9px rgba(0, 0, 0, 0.062),
    5.9px 29.4px 6.9px rgba(0, 0, 0, 0.084),
    7.7px 38.1px 11.3px rgba(0, 0, 0, 0.106),
    9.7px 48.3px 18.6px rgba(0, 0, 0, 0.131),
    13.2px 65.5px 32.7px rgba(0, 0, 0, 0.162),
    24px 119px 77px rgba(0, 0, 0, 0.22);
}

.ProfileCardBody {
  padding-top: 3.5rem !important;
  padding-bottom: 2rem !important;
}

.ProfileCardBackgroundImage {
  width: 350px;
  height: 140px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  background-color: #2acfcf;
  background-size: cover;
}

.ProfileCardImage {
  width: 96px !important;
  height: 96px !important;
  margin: auto;
  position: absolute;
  top: 84px;
  left: 127px;
  border: 5px white solid;
  border-radius: 48px !important;
}

.TextMuted {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.TextBold {
  font-size: 18px;
  font-weight: 700;
}

.CardFooter {
  background-color: white !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.FooterP {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
