.ans {
  border: 2px solid black;
  border-radius: 10px;
  padding: 100px auto;
  margin: 20px auto;
  width: 60%;
  background-color: #84efef;
  list-style: none;
}
.btnSiguiente {
  margin: 50px auto;
  border: none;
  width: 25%;
  border-radius: 10px;
  background-color: #6ee6e6;
}
