* {
  color: black;
}
.conditions {
  font-size: 75%;
}
.register {
  color: black;
  text-decoration: none;
}

/* navbar */
.nav1 {
  background-color: #131921;
}
.nav2 {
  background-color: #242f3e;
}
.nav3 {
  background-color: #fafafa;
}
.back {
  text-decoration: none;
  /* float: right; */
}
.carrito:hover {
  transform: scale(1.05);
}
/* productos home */
.marginQuiz{
  border-radius: 20px;
  margin-top: 50px;
}
.imgQuiz{
  border-left: 3px solid #3b3054;
  background-color: white;
  width: 50%;
  margin: auto;
}
.imgQ{
  width: 100%;
  object-fit: cover;
}
.questionsQuiz{
  width: 50%;
}

@media (max-width: 700px) {
  .questionsQuiz{
    width: 100%;
  }
  .imgQuiz{
    width: 100%;
  }
  .imgQuiz{
    border-top: 3px solid #3b3054;
    border-left: none;
  }
  .marginQuiz{
    width: 90%;
    margin: 50px auto;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .preguntas{
    font-size: 45px;
  }
  .marginQuiz{
   margin-top: 100px;
  }
  
}
.carta {
  display: flex;
}
.cartas {
  display: flex;
  /* position: relative; */
  bottom: 350px;
  overflow-x: scroll;
  z-index: 10;
}
.card {
  margin: 20px 10px;
  /* border: none; */
  min-width: 200px;
}
.imgCard {
  /* height: 220px; */
  min-height: 220px;
}
.imgCard:hover {
  transform: scale(1.03);
}

/* footer */
.foot1 {
  background: #485769;
}
.foot2 {
  background: #232f3e;
}
.crud {
  text-decoration: none;
}
.crud:hover {
  transform: scale(1.05);
}
.imgCrud {
  min-height: 100px;
}
.imgModal {
  background-color: red;
}

/* //detail */
.imgDetail {
  width: 40%;
  z-index: 15;
}
.h1 {
  background-color: red;
}
.btnCart {
  background-color: #f3d184;
}

.btnPay {
  background-color: #f0ad64;
}

/*
Cards Login
*/

.cardsLoginAll {
  margin-top: 20px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}
