


#c {
  display: none;
  position: absolute;
  background-color: #94e7e7;
  color: black;
}

#h {
  display: none;
  position: absolute;
  background-color: #5d527a;
  color: white;
}

#a {
  display: none;
  position: absolute;
  background-color: #ff8080;
  color: white;
}
#s {
  display: none;
  position: absolute;
  background-color: #ff80ff;
  color: white;
}
#i {
  display: none;
  position: absolute;
  background-color: #ff9a52;
  color: black;
}

#d {
  display: none;
  position: absolute;
  background-color: #7449e8;
  color: white;
}
#e {
  display: none;
  position: absolute;
  background-color: #80ef9f;
  color: black;
}
.subT p {
  width: 40%;
}
@media (min-width: 900px) {
  .subT p {
    width: 25%;
    background-color: red;
  }
}
@media (min-width: 1000px) {
  .subT p {
    width: 30%;
    background-color: red;
  }
}
.subT:hover #c{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover #h{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover #a{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover #s{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover #i{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover #d{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover #e{
  display: block;
  z-index: 10;
  transition: display 2s;
}
.subT:hover .flecha{
  color: #94e7e7;
}
.cardResultdos {
  margin-top: 5px;
}
.cardResult {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
@media (min-width: 900px) {
  .cardResultdos {
    margin-top: 80px;
  }
  .cardResult {
    flex-direction: row;
    margin: 60px 30px;
  }
}
@media (min-width: 1300px) {
  .cardResult {
    flex-direction: row;
    margin: 70px 30px;
  }
}
@media (max-width: 900px) {
  .cardResult {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
.titleUni {
  padding-top: 70px;
}
