#c{
    background-color: #94E7E7;
}
#h{
    background-color: #5D527A;
    color: white;
}

#a{
    background-color: #FF8080;
    color: white;
}
#s{
    background-color: #FF80FF;
    color: white;
}
#i{
    background-color: #FF9A52;
}
#d{
    background-color: #7449E8;
    color: white;
}
#e{
    background-color: #80EF9F;
}
.cardResult{
    display: flex;
    /* background: red; */
    margin: 50px 30px;
}
@media (min-width: 900px) {
    .cardResult{
        /* background: green; */
        margin: 80px 30px;
    }
    
}
@media (min-width: 1300px) {
    .cardResult{
        /* background: blue; */
        margin: 80px 30px;
    }
    
}